.alert-danger {
    color: #f2606d;

    }

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}
.alert-info {
    color: #96beff;

}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}
.select_mate{
    margin-top: 1em;
    min-width: 10em;
    position:inherit;
    margin-right: 1em;
    min-height: 2em;
    max-height:2em;
    overflow:hidden;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    color: #89ffe1;

    border-width: 0.06em;
    border-color:aquamarine;
    background-color:transparent;

}
.box{
    align-content: center;

    padding: 1em;
    background-color: transparent;
    opacity: 0.6;


    border: 1px solid #c3c3c3;



}
.customBox{
    margin: auto;
    margin-top: 2em;
    margin-bottom:2em;
    padding: 1em;
    width: 30em;
    border: 3px solid #c3c3c3;
    background-color: #c0f9f1  ;

}
